@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

$primary: #222;
$secondary: #aaa;
$background: #fafafa;

@mixin space {
  margin: 20px 0;
  padding: 0;
}

body {
  @include space;

  background-color: $background;
  color: $primary;
  font-family: 'Roboto';
  margin: 100px auto;
  text-align: center;
  width: 600px;
}

a {
  border-bottom: 1px dashed #002244;
  color: $primary;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $primary;
  }
}

header {
  text-transform: lowercase;
  margin-bottom: 80px;

  h1, h2 {
    @include space;

    display: inline;
    font-size: 36px;
  }

  h1 {
    font-weight: 500;
  }

  h2 {
    font-weight: 300;
  
    &:before {
      content: "\00a0";
      whitespace: pre;
    }
  }
}

p {
  @include space;

  font-size: 16px;
  font-weight: 300;
}

footer {
  color: $secondary;
  font-size: 14px;
  font-weight: 300;
  margin-top: 80px;
}

